// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: #01222D;

// Primary/body text
$mainFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Impact, sans-serif;
$mainFontSize: 36px;
$mainColor: #dfdfdf;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Impact, sans-serif;
$headingColor: #cde1ff;
$headingLineHeight: 1.4;
$headingLetterSpacing: .05em;
$headingTextTransform: normal;
$headingTextShadow: none;
$headingFontWeight: 300;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 1.3em;
$heading2Size: 1.5em;
$heading3Size: 1.25em;
$heading4Size: 1.00em;

// Links and actions
$linkColor: #13DAEC;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #FF5E99;
$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}
